html, body, .wrapper, .logotype {
	width: 100%;
}

body {
	margin: 0;
}

.intro {

	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0 0;
}

.logo {
	width: 80%;
	margin: 0 auto;

}

.conf_desc {
	margin
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0 0;
	
}

.quests {
	display: flex;
	justify-content: space-around;
	width: 400px;
}

.quest {
	display: flex;
	flex-direction: column;
	align-items: center;	
}